<div id="Safaaa" dir="ltr" class="chat-box hide-box">
    <div id='chatHeader' class="chat-header">
       
        <div  id="toggleChat" class="toggleChat">
            <i class="fa fa-eye" aria-hidden="true"></i>
        </div>

      
    </div>
    <div id="chatBody" class="chat-body">

    </div>
    <div id="chatUsers" class="chat-users hide">

    </div>
    <div id="chatControl" class="chat-control row">
        <input id='messageInput' type="text" placeholder="Enter message here">

    </div>
</div>