@model List<H_EstateAgency2.Models.Property>


    <div class="text-center">
        <a asp-area="" asp-controller="Home" asp-action="Indexoffer">

            <img style="width:32px; height:32px; margin:10px; float:right" src="~/img/offer.png" alt="Alternate Text" />
        </a>
        <img style="width:32px; height:32px; margin:10px; float:right" src="~/img/message.png" alt="Alternate Text" />
        <img style="width:42px; height:32px; margin:10px; float:right" src="~/img/eye.png" alt="Alternate Text" />
        <img style="width:42px; height:32px; margin:10px; float:right" src="~/img/cintact.png" alt="Alternate Text" />
    </div>
<hr />
<p style="font-size:14PX; float:none">FIND YOUR DESIERED PROPERTY EASILY</p>

<h1 style="align-content:center"> SPECIAL OFFERS</h1>
<br />
<hr />
<br />


<div class="row" style="margin-bottom:9px">
    @foreach (var item in Model)
    {
        <div class="col-3">
            <div class="card" style="width: 16rem;">
                <img style="width: 16rem; height:15rem" class="card-img-top" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(item.pictures.FirstOrDefault().photo))" alt="Card image">
                <div class="card-body">
                    <h6 class="card-title">@item?.PropertyTitle   </h6> <h6 style="color:forestgreen"> For @item.Ppurpose</h6>

                    <p class="card-text" style="font-size:12px">@item?.PropertyCity / @item?.PropertyArea </p>

                    <hp class="card-text" style="font-size:12px">@item?.PropertyPrice  $ </hp><br />
                    <a class="btn btn-primary" asp-controller="Properties" asp-action="Details" asp-route-id="@item.PropertyId">Read More...</a>
                </div>
            </div>

        </div>

    }
</div>